*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* welcome pages */
#hero-image {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}